*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ECF0F1;
}

.app{
  display: flex;
  align-items: flex-start;
  padding: 2rem;
}

.pageContent{
  flex: 0.8;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 0 .7rem -.4rem #707B7C;
}
.integrations{
  display: flex;
  flex-wrap: wrap;
}
